@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Home{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #00122d 0%, #16296f 100%);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 90px;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    color: white;
    font-size: 24px;

    opacity: 0;
    animation: to-bottom 1s ease forwards;
}
header nav a{
    font-size: 26px;
    margin-left: 60px;
    color: white;
    transition: .3s;
}
header nav .active,
header nav a:hover{
    color: #61e7ff;
}
.text-box{
    width: 50%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: end;
}
.text-box h1{
    color: #61e7ff;
    font-size: 75px;
    animation: to-left 1s ease forwards 1.3s;
}
.text-box h1:nth-child(2){
    color: white;
    font-size: 60px;
    animation-delay: 1.5s;
}
.text-box p{
    margin: 30px 0;
    font-size: 19px;
    width: 82%;
    line-height: 220%;
    color: #bababa;
    animation: to-left 1s ease forwards 1.7s;
}
.btn-box{
    display: flex;
    gap: 20px;
}
.btn{
    color: black;
    padding: 15px 35px;
    font-size: 24px;
    border: 2px solid #61e7ff;
    background-color: #61e7ff;
    box-shadow: 0 0 15px #61e7ff;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    animation: to-left 1s ease forwards 1.9s;
}
.btn:hover,
.btn:nth-child(2){
    color: white;
    background: transparent;
    box-shadow: none;
}
.btn:nth-child(2):hover{
    color: black;
    background-color: #61e7ff;
    box-shadow: 0 0 15px #61e7ff;
}
.img-box{
    position: absolute;
    transform: perspective(1200px) scale(2) rotateY(50deg) rotateX(30deg);
    width: 50%;
    height: 100%;
    left: 0;
    top: 150px;
}
.img-box img{
    position: absolute;
    pointer-events: none;
    left: 0;
    bottom: 0;
    height: 100%;
}
.light{
    transform: translateY(-20%);
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}
.text-box *{
    opacity: 0;
}
.text-box span{
    opacity: 1;
}
/* keyframes */
@keyframes to-bottom {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes to-left {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(var(--deg));
    }
}
.object{
    opacity: 0;
    animation: rotate 30s linear infinite, fadeIn 1.5s ease forwards var(--delay);
}